.sidebar{
    height: 87vh;
    display: flex;
    flex-direction: column;
    flex: 0.2;
    background-color: #000000;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}
.side-section{
    width: 95%;
    flex: 0.15;
    background-color: #282828;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}
.side-section-2{
    width: 95%;
    flex: 0.85;
    background-color:#282828;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 15px;
    overflow-y: scroll;

}
.side-section-2::-webkit-scrollbar{
    display: none;
}
.lib{
    display: flex;
    color: gray;
    align-items: center;
}
.add-icon{
    padding-left: 110px;
    padding-right: 10px;
}
.playlist{
    height: 20px;
    width: auto;
    padding: 5px;
    background-color: rgb(76, 75, 75);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    margin-right: 20px;
    cursor: pointer;
    
}

.sidebar > hr{
 border: 1px solid #282828;
 width: 90%;

}


